<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Applications for promotion to moderator</title>
    <link rel="stylesheet" href="../static/create_post.css">
    <link rel="stylesheet" href="../static/requests.css">
</head>
<body>
<header>
    <div class="forum">
        <a href="/">FORUM</a>
    </div>
    <nav class="heddy">
        <div class="left">
            <a href="/my-posts">My Posts</a>
            <a href="/liked-posts">Liked Posts</a>
            <a href="/reports">Reports</a>
            <a href="/requests">Request</a>
            <a href="/categories">Categories</a>
            <a href="/users">Users</a>
        </div>
        <div class="right">
            <a href="/create-post">Create Post</a>
            <a href="/notifications">Notifications</a>
            <a href="/activity-page">Activity Page</a>
            <div class="user-menu">
                <div class="circle">
                    {{.Username}}
                    <div class="dropdown">
                        <a href="/logout">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<main>
    <section class="content">
        <h1 class="title">Applications for promotion to moderator</h1>

        {{if .Requests}}
        <table class="requests-table">
            <thead>
            <tr>
                <th>UserID</th>
                <th>Имя пользователя</th>
                <th>Причина</th>
                <th>Дата подачи</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            {{range .Requests}}
            <tr>
                <td>{{.UserID}}</td>
                <td>{{.Username}}</td>
                <td>{{.Reason}}</td>
                <td>{{.Created.Format "02 Jan 2006 15:04"}}</td>
                <td>
                    <div class="action-buttons">
                        <form action="/approve-request" method="POST" >
                            <input type="hidden" name="request_id" value="{{.ID}}">
                            <button type="submit" class="btn btn-approve">Approve</button>
                        </form>
                        <form action="/deny-request" method="POST">
                            <input type="hidden" name="request_id" value="{{.ID}}">
                            <button type="submit" class="btn btn-deny">Reject</button>
                        </form>
                    </div>
                </td>
            </tr>
            {{end}}
            </tbody>
        </table>
        {{else}}
        <div class="no-requests">
            <p>There are no active promotion requests</p>
        </div>
        {{end}}
    </section>
</main>
</body>
</html>