<!DOCTYPE html>
<link rel="stylesheet" href="../static/create_post.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
</head>
<body>
    <header>
        <nav class="nav">
            <a href="/" class="auth-link">Home</a>
            <a href="#" class="auth-link">My Posts</a>
            <a href="#" class="auth-link">Liked Posts</a>
            <a href="/gomoder" class="auth-link">Want Moder</a>
        </nav>
        <div class="create-post">
            <a href="/notifications" class="auth-link">Notifications</a>
            <a href="/activity-page" class="auth-link">Activity Page</a>              
            <div class="circle">{{.UserID}}
                <div class="dropdown">
                    <a href="/logout" class="dropdown-link">Logout</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="content">
            <h1 class="page-title">Create a New Post</h1>
            {{ if .Check }}
            <p id="check" style="color: red;">{{ .Check }}</p>
            {{ end }}
            <form action="/create-post" method="POST" class="create-post-form" enctype="multipart/form-data">
                <label for="title" class="form-label">Post Title:</label>
                <input type="text" id="title" name="title" class="form-input" placeholder="Enter your post title" required>
                <label for="content" class="form-label">Post Content:</label>
                <textarea id="content" name="content" class="form-textarea" placeholder="Write your post content here" required></textarea>
                <label for="category" class="form-label">Category:</label>
                <select id="category" name="category" class="form-select">
                    {{range .Categories}}
                    <option value="{{.ID}}">{{.Name}}</option>
                    {{end}}
                </select>
                <label for="image" class="form-label">Upload Image:</label>
                <input type="file" id="image" name="image" class="form-input" accept="image/*">
                <input type="hidden" name="user_id" value="{{.UserID}}">
                <button type="submit" class="create-post-button">Submit Post</button>
            </form>
        </section>
    </main>
</body>
</html>
