<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заявка на повышение до модератора</title>
    <link rel="stylesheet" href="../static/formoder.css"> <!-- Подключение стилей -->
</head>
<body>
    <header>
        <div class="forum">
            <a href="/">FORUM</a>
        </div>
        <div class="heddy">
            <div class="left">
                <a href="/my-posts" class="auth-link">My Posts</a>
                <a href="/liked-posts" class="auth-link">Liked Posts</a>
            </div>
            <div class="right">
                <a href="/create-post" class="auth-link">Create Post</a>
                <a href="/notifications" class="auth-link">Notifications</a>
                <a href="/activity-page" class="auth-link">Activity Page</a>
                <div class="circle">{{.Username}}
                    <div class="dropdown">
                        <a href="/logout" class="dropdown-link">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="registration-form">
            <h1 class="form-title">Заявка на повышение до модератора</h1>
            <form action="/submit-promotion-request" method="POST">
                <div class="form-group">
                    <label for="reason">Почему вы хотите стать модератором?</label>
                    <textarea id="reason" name="reason" rows="4" placeholder="Опишите ваши причины" required></textarea>
                </div>
                <button type="submit" class="submit-button">Подать заявку</button>
            </form>
        </section>
    </main>
</body>
</html>