<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заявка на повышение до модератора</title>
    <link rel="stylesheet" href="../static/formoder.css"> <!-- Переместили сюда -->
</head>
<body>
    <header>
        <nav class="nav">
            <a href="/" class="auth-link">Home</a>
            <a href="/my-posts" class="auth-link">My Posts</a>
            <a href="/liked-posts" class="auth-link">Liked Posts</a>
        </nav>
        <div class="create-post">
            <a href="/create-post" class="auth-link">Create Post</a>
            <a href="/notifications" class="auth-link">Notifications</a>  
            <a href="/activity-page" class="auth-link">Activity Page</a>                                 
            <div class="circle">{{.Username}}
                <div class="dropdown">
                    <a href="/logout" class="dropdown-link">Logout</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <h1 class="page-title">Заявка на повышение до модератора</h1>
        <form action="/submit-promotion-request" method="POST">
            <label for="reason" class="form-label">Почему вы хотите стать модератором?</label><br>
            <textarea id="reason" name="reason" class="form-textarea" rows="4" cols="50" required></textarea><br>
            <button type="submit" class="create-post-button">Подать заявку</button>
        </form>
    </main>
</body>
</html>
