<!DOCTYPE html>
<link rel="stylesheet" href="../static/home.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Page</title>
</head>
<body>
    <header>
        {{if .LoggedIn}}
        <nav class="nav">
            <a href="/" class="auth-link">Home</a>
            <a href="#" class="auth-link">My Posts</a>
            <a href="#" class="auth-link">Liked Posts</a>
        </nav>
        <div class="create-post">
            <div class="nav2">
                <a href="/create-post" class="auth-link">Create Post</a>
            </div>
            <div class="circle">{{.Username}}
                <div class="dropdown">
                    <a href="/logout" class="dropdown-link">Logout</a>
                </div>
            </div>
        </div>
        {{else}}
        <nav class="nav">
            <a href="/" class="auth-link">Home</a>
        </nav>
        <div class="nav2">
            <a href="/register" class="auth-link">Register</a>
            <a href="/login" class="auth-link">Login</a>
        </div>
        {{end}}
    </header>
    <main>
        <aside class="sidebar">
            <p class="sidebar-title">Filter by categories</p>
            <ul class="category-list">
                <li><a href="/" class="category-item">All Categories</a></li>
                {{range .Categories}}
                <li><a href="/?category_id={{.ID}}" class="category-item">{{.Name}}</a></li>
                {{end}}
            </ul>
        </aside>        
        <section class="content">
            {{if .Posts}}
                {{range .Posts}}
                <article class="post">
                    <h2 class="post-title">{{.Title}}</h2>
                    <p class="post-content">{{.Content}}</p>
                    <span class="post-category">{{.Category}}</span>
                </article>
                {{end}}
            {{else}}
                <p>There are no posts yet.</p>
            {{end}}
        </section>
    </main>
</body>
</html>
