<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
    <header>
        <div class="forum">
            <a href="/">FORUM</a>
        </div>
        <nav class="heddy">
            <div class="left">
                {{if .LoggedIn}}
                <a href="/my-posts">My Posts</a>
                <a href="/liked-posts">Liked Posts</a>
                {{if or .Moder .Admin}}
                {{else}}
                <a href="/gomoder">Want Moder</a>
                {{end}}
                {{if .Admin}}
                <a href="/reports">Reports</a>
                <a href="/requests">Request</a>
                <a href="/categories">Category</a>
                <a href="/users">Users</a>
                {{end}}
                {{end}}
            </div>
            <div class="right">
                {{if .LoggedIn}}
                <a href="/create-post">Create Post</a>
                <a href="/notifications">Notifications</a>
                <a href="/activity-page">Activity Page</a>
                <div class="user-menu">
                    <div class="circle">
                        {{.Username}}
                        <div class="dropdown">
                            <a href="/logout">Logout</a>
                        </div>
                    </div>
                </div>
                {{else}}
                <a href="/register">Register</a>
                <a href="/login">Login</a>
                {{end}}
            </div>
        </nav>
    </header>
    <main>
        <aside>
            <h2>Filter by categories</h2>
            <ul>
                <li><a href="/">All Categories</a></li>
                {{range .Categories}}
                <li><a href="/?category_id={{.ID}}">{{.Name}}</a></li>
                {{end}}
            </ul>
        </aside>
        <section>
            {{if .Posts}}
            {{range .Posts}}
            <a href="/post?id={{.ID}}" class="post-link">
                <article>
                    <h2>{{.Title}}</h2>
                    <p>{{.Content}}</p>
                    {{if .Category}}
                    <span class="category-tag">{{.Category}}</span>
                    {{end}}
                </article>
            </a>
            {{end}}
            {{else}}
            <p class="no-posts">There are no posts yet.</p>
            {{end}}
        </section>
    </main>
</body>
</html>