<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Post</title>
    <link rel="stylesheet" href="../static/post.css">
</head>
<body>
<header>
    <nav class="nav">
        <a href="/" class="auth-link">Home</a>
        <a href="#" class="auth-link">My Posts</a>
        <a href="#" class="auth-link">Liked Posts</a>
    </nav>
    <div class="user-info">
        <div class="circle">{{.Username}}
            <div class="dropdown">
                <a href="/logout" class="dropdown-link">Logout</a>
            </div>
        </div>
    </div>
</header>
<main>
    <section class="post-container">
        <h1 class="post-title">{{.Post.Title}}</h1>
        <p class="post-content">{{.Post.Content}}</p>
        <p class="post-meta">Category: <span class="post-category">{{.Post.Category}}</span></p>
        <p class="post-meta">Posted by: <span class="post-author">{{.Post.Author}}</span></p>
        <div class="post-actions">
            <button class="like-button">Like ({{.Post.LikeCount}})</button>
            <button class="edit-button">Edit</button>
            <button class="delete-button">Delete</button>
        </div>
    </section>
</main>
</body>
</html>
