<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/notifications.css">
    <title>Notifications</title>
</head>
<body>
    <header>
        <div class="forum">
            <a href="/">FORUM</a>
        </div>
        <div class="heddy">
            <div class="left">
                <a href="/my-posts" class="auth-link">My Posts</a>
                <a href="/liked-posts" class="auth-link">Liked Posts</a>
                {{if or .Moder .Admin}}
                {{else}}
                {{if .Stat}}
                <a href="/gomoder" class="auth-link">Want Moder</a>
                {{end}}
                {{end}}
                {{if .Admin}}
                <a href="/reports" class="auth-link">Reports</a>
                <a href="/requests" class="auth-link">Request</a>
                <a href="/categories" class="auth-link">Category</a>
                <a href="/users" class="auth-link">Users</a>
                {{end}}
            </div>
            <div class="right">
                <a href="/create-post" class="auth-link">Create Post</a>
                <a href="/notifications" class="auth-link">Notifications</a>
                <a href="/activity-page" class="auth-link">Activity Page</a>
                <div class="user-menu">
                    <div class="circle">{{.Username}}
                        <div class="dropdown">
                            <a href="/logout" class="dropdown-link">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <h1 class="page-title">Notifications</h1>
        <section class="notifications-container">
            {{range .Activities}}
            {{if .IsRead}}
            <div class="notification-item">
                <div class="notification-type">{{.Type}}</div>
                <div class="timestamp">Created At: {{.CreatedAt}}</div>
                {{if .CommentContent}}
                <p class="comment-content">Comment: {{.CommentContent}}</p>
                {{end}}
                {{if .PostID}}
                <a href="/post?id={{.PostID}}" class="post-link">View Post</a>
                {{end}}
            </div>
            {{end}}
            {{end}}
        </section>
    </main>
</body>
</html>